body {
    background-image: url("../images/siteBackground.jpg");
}

.menu {
    text-transform: uppercase;
    display: block;
    font-weight: bold;   
    float: left;
    margin-top: 10px;
    
}

p {
   color: #797a7b;
}


.menu a{
    color: black;
    text-decoration: none;
    padding:  10px;
    transition-duration: 300ms;

}

.menu a:hover {   
    color: white;
    background-color: #18bbff;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    -moz-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    padding: 100px 10px 10px;
    border-radius: 2px;
}

@media all and (max-width:1199px){
    .menu a:hover{
    color: white;
    background-color: #18bbff;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    -moz-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    padding: 30px 10px 30px;
    border-radius: 2px;     
    }
    .menu a{
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px;    
    }
}

@media all and (max-width:538px){
    .menu a:hover{
    color: white;
    background-color: #18bbff;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    -moz-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    padding: 10px 10px 10px;
    border-radius: 2px;     
    }
    .menu a{
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px;    
    }
}

.abc {
    float: left;    
}



.tyt {
    text-align: center;
    
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    -webkit-box-shadow: 2px 7px 18px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 7px 18px -2px rgba(0,0,0,0.46);
    box-shadow: 2px 7px 18px -2px rgba(0,0,0,0.46);
    padding-right: 0px!important;
    padding-left: 0px!important;   
}


.snailBig {
    margin-top: 30px;
}

.box {
    background-image: url("../images/contentBackground.jpg");
    padding-top: 15px;
    border-style: solid;
    border-color: #BBBBBB;
    border-width: 1px;
    margin-top: 15px
    
}


.nailSmall {
    width: 233px;
    margin-left: 60px;
    float: left;
}

.nailSmall>p {
    color: #797a7b;
     width: 233px;
}


@media all and (max-width:991px){
    .nailSmall {
        clear: both;
        margin-left: 0;       
    }
}

.more {
    margin: 10px 10px 10px 10px;
    background-color: #18bbff;
    float: right;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    -moz-box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    box-shadow: 0px 3px 1px 0px rgba(6,149,209,1);
    padding: 10px;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    

}    

.cont {
    max-width: 960px;
}

.slimakijpg {
    float: left;
    margin-right: 10px;
}

.end {
    
    background-image: url("../images/contentBackground.jpg");
    min-height: 20px;
    border-top: solid;
    border-color: #BBBBBB;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.end p{
    color: #797a7b;
    text-align: center;
}

.end a{
    color: #18bbff;
}


.linki {
    list-style-image: url("../images/p.png")
}

.linki li{
    margin-bottom: 20px
}

.linki a{
    color: #18bbff;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(187,187,187,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(187,187,187,1);
    box-shadow: 0px 1px 1px 0px rgba(187,187,187,1);
}

.naglowek {
    margin-top: 50px
}

.points{
    
}
.points ul{
    list-style-type: none;
    display: inline;
    height: 33px;
    width: 32px;
    
}

.points li{
    float: left;
    height: 33px;
    width: 32px;
    background-image: url("../images/pagination.png");
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0px 2px;
    margin-top: 10px;    
}
.points li:hover{
    background-position: 0px -31px;
}
